<template>
  <form @submit.prevent="submitForm" class="sf-SandwichForm">
    <label for="name">Name of Sandwich</label>
    <input type="text"
      v-model="title"
      placeholder="Name"
      id="name"
      class="sf-Content"
    >
    <label for="ingredients">Ingredients</label>
    <textarea
      class="sf-Content"
      v-model="ingredients"
      placeholder="Ingredients"
      id="ingredients">
    </textarea>
    <input type="submit" value="Submit" class="sf-Submit">
  </form>
</template>

<script>
import Services from '../services.js'
export default {
  props: {
    sandwichInfo: {
      type: Object,
      default: null
    }
  },
  data() {
    return {
      title: '',
      ingredients: ''
    }
  },
  watch: {
    sandwichInfo: {
      handler(newValue){
        if (newValue !== null) {
          this.title = newValue.title
          this.ingredients = newValue.ingredients
        } else {
          this.title = ''
          this.ingredients = ''
        }
      },
      immediate: true
    }
  },
  methods: {
    submitForm() {
      if(this.sandwichInfo === null) {
        Services.createSandwich (JSON.stringify({title: this.title, ingredients: this.ingredients}))
        .then((createdSandwich) => {
          this.$emit('addSandwich', createdSandwich)
          this.title = '',
          this.ingredients = ''
        })
      } else {
        Services.updateSandwich ({title: this.title, ingredients: this.ingredients, _id: this.sandwichInfo._id})
        .then((updatedSandwich) => {
          this.$emit('updatedSandwich', updatedSandwich)
          this.title = '',
          this.ingredients = ''
        })
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.sf-SandwichForm {
  border: 3px solid #F0F3F5;
  box-sizing: border-box;
  border-radius: 8px;
  background-color: #F0F3F5;
  color: #1F292E;
  padding: 15px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  }
}

.sf-Submit {
  border-radius: 4px;
  cursor: pointer;
  float: right;
  padding: 5px 10px;
}

.sf-Content {
  width: 100%;
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  box-sizing: border-box;
}
</style>
