<template>
  <div class="sw-SandwichWrapper">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="sw-HeaderWrapper">
      <h3 class="sw-Header">{{ sandwich.title }}</h3>
      <div class="sw-Actions">
        <i class="fa fa-edit" @click="editSandwich"></i>
        <i class="fa fa-trash" @click="deleteSandwich"></i>
      </div>
    </div>
    <p class="sw-Content">{{ sandwich.ingredients }}</p>
  </div>
</template>

<script>
import Services from '../services'
export default {
  props: {
    sandwich: {
      type: Object,
      default: null
    }
  },
  methods: {
    editSandwich() {
      this.$emit('edit', this.sandwich)
    },
    deleteSandwich() {
      Services.deleteSandwich(this.sandwich)
      .then(() => this.$emit('deletedSandwich', this.sandwich))
    }
  }
}
</script>

<style lang="scss" scoped>
.sw-SandwichWrapper {
  border: 3px solid #F0F3F5;
  box-sizing: border-box;
  border-radius: 8px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.1);
  }
}

.sw-HeaderWrapper {
  background-color: #F0F3F5;
  display: flex;
  padding: 15px;
}

.sw-Header {
  margin: 0 15 0 0;
  flex: 1 1 auto;
  color: #1F292E;
  word-break: break-word;
}

.sw-Content {
  padding: 15px;
  color: #3D525C;
  word-break: break-word;
}

.sw-Actions {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
</style>
