<template>
  <div>
    <div class="sl-SandwichList">
      <sandwich
        v-for="sandwich in sandwiches"
        :key="sandwich.id"
        :sandwich="sandwich"
        @edit="editSandwich"
        @deletedSandwich="deletedSandwich"
      />
      <button type="text" @click="addSandwich" class="sl-AddAction">
        Add Sandwich
      </button>
      <sandwich-form
        v-if="showForm"
        :sandwich-info="sandwichToEdit"
        @addSandwich="addedSandwich"
        @updatedSandwich="updatedSandwich"
      />
    </div>
  </div>
</template>

<script>
import Sandwich from './sandwich'
import SandwichForm from './sandwich-form'
import Services from '../services'
export default {
  components: {
    Sandwich,
    SandwichForm
  },
  data() {
    return {
      sandwiches: [],
      showForm: false,
      sandwichToEdit: null
    }
  },
  created() {
    Services.fetchSandwiches()
    .then((res) => {this.sandwiches = res})
  },
  methods: {
    addSandwich() {
      this.showForm = true
      this.sandwichToEdit = null
    },
    editSandwich(sandwich) {
      this.showForm = true
      this.sandwichToEdit = sandwich
    },
    addedSandwich(sandwich) {
      this.sandwiches.push(sandwich)
    },
    deletedSandwich(sandwich) {
      const sandwichIndex = this.sandwiches.findIndex((s) => sandwich._id === s._id)
      this.sandwiches.splice(sandwichIndex, 1)
    },
    updatedSandwich(updatedSandwich) {
      const updatedSandwichIndex = this.sandwiches.findIndex((s) => updatedSandwich._id === s._id)
      this.sandwiches.splice(updatedSandwichIndex, 1, updatedSandwich)
    }
  }
}
</script>

<style lang="scss" scoped>
.sl-SandwichList {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 15px;

  @media only screen and (min-width: 360px) {
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  }
}

.sl-AddAction {
  border: 3px solid #F0F3F5;
  border-radius: 8px;
  color: #1F292E;
  font-weight: bold;
  font-size: 16px;
  background-color: #FFFFFF;

  &:hover {
    cursor: pointer;
  }
}
</style>
