<template>
  <div>
    <div>
      <h2 class="sa-Logo">
        HeSa
      </h2>
      <h3 class="sa-Logo">
        Healthy Sandwich
      </h3>
      <h1 class="sa-Title">
        HeSa Manager
      </h1>
    </div>
    <div>
      <sandwich-list />
    </div>
  </div>
</template>

<script>
import SandwichList from './components/sandwich-list'
export default {
  components: {
    SandwichList
  }
}
</script>

<style lang="scss">
.sa-Logo {
  color: #008B8B;
  margin: 0;
}

.sa-Title {
  text-align: center;
  color: #5F9EA0;
}
</style>
